!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

h1= title
form( method="post")
    div
        div
            span Name :
            input(type="text", name="name", id="name")
        div
            span Favorite Food :
            input(type="text", name="food", id="name")
        div
            span Neighbors :
            textarea( name="neighbors", rows=5, id="neighbors")
        div
            span Legs
            input(type="range", id="legs", value="1", name="legs", min="1", max="100", value="0")
        div
            span Color
            input(type="color", id="color", name="color")
        div#editArticleSubmit
            input(type="submit", value="Send")
