!!!
html
  head
    title= 'Login'
    link(rel='stylesheet', href='/stylesheets/style.css')

h1= 'Login'
form( method="post")
    div
        div
            span Username:
            input(type="text", name="username")
        div
            span Password:
            input(type="password", name="password")
        div
            input(type="submit", value="Send")
