!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
#bg
#blackhead
div.login
  form( method="post")
    input(type="text", name="username", placeholder="username")
    input(type="password", name="password", placeholder="password")
    input(type="submit", value="Send").button
