!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
#bg
#blackhead
#wrap
  div.login
    form( method="post")
      input(type="text", name="username", placeholder="email")
      input(type="password", name="password", placeholder="password")
      input(type="submit", value="Send").button
