!!! 5
html
  head
    title= 'Sign'
    link(rel='stylesheet', href='/stylesheets/style.css')

#bg
#blackhead
#wrap      
  #div.login
    form( method="post")
      if (user != '') 
        input(type="text", name="username", value=user)
      else
        input(type="text", name="username", placeholder="username")
        
      if (email != '')
        input(type="email", name="email", value=email)
      else
        input(type="email", name="email", placeholder="email")
      input(type="password", name="password", placeholder="password")
      input(type="password", name="pass_2", placeholder="repeat password")
      input(type="submit", value="send").button