!!! 5
html
  head
    title= 'Sign'
    link(rel='stylesheet', href='/stylesheets/style.css')

h1= 'sign'
form( method="post")
    div
        div
            span username
            input(type="text", name="username", placeholder="username")
        div
            span email
            input(type="text", name="email", placeholder=""email")
        div
            span password
            input(type="password", name="pass_1", placeholder="password")
        div
            span password
            input(type="password", name="pass_2", placeholder="repeat password")
        div
            input(type="submit", value="Send")