!!! 5
html
  head
    title= 'Sign'
    link(rel='stylesheet', href='/stylesheets/style.css')

#bg
#blackhead
div.login
  form( method="post")
    input(type="text", name="username", placeholder="username")
    input(type="text", name="email", placeholder="email")
    input(type="password", name="pass_1", placeholder="password")
    input(type="password", name="pass_2", placeholder="repeat password")
    input(type="submit", value="Send").button