html
  margin 0px
  padding 0px
body
  font-family "Helvetica"
  font-size 12px
  color #343434
  margin 0px
  padding 0px
  background-image url(../images/bg_gray_dark.jpg)
  background-attachment fixed
#bg
  width 100%
  height 100%
h1, h2
  padding-left 10px
  margin-top 50px
  margin-bottom 15px
  font-size 30px
h1
  font-size 50px
a
  color #343434
table
  margin-left auto
  margin-right auto
tr
  background-color #eee
  text-align left
td
  width 150px
  padding 5px
ul
  list-style-type none
  padding 0px
  a
    text-decoration none
li
  padding 5px
  padding-left 5px
  margin-right 20px
  margin-bottom 2px
  display block
li:hover
  background-color rgba(255, 255, 255, 0.4)
.active
  background-color rgba(255, 255, 255, 0.4)
ul li img
    vertical-align middle
    height 25px
#wrap
  width 800px
  margin-left auto
  margin-right auto
  overflow hidden
#menu
  text-align left
  margin-top 20px
  float left
  height 300px
  width 200px
  position fixed
#nodes
  float right
  text-align left
  margin-left auto
  margin-right auto
  margin-top 70px
  width 600px
  .node
    padding 20px
    margin-top 50px
    background-color rgba(255, 255, 255, 0.4)
    .image
      margin-bottom 10px
      width 560px
      height 340px
  .comment
    padding 20px
    margin-top 20px
    background-color rgba(255, 255, 255, 0.4)
    .name
      background-color #fff
      border none
      height 25px
      width 150px
    .info
      padding 10px
      background-color #fff
      width 540px
      margin-top 10px
      margin-bottom 10px
      border none
  .node-form
    padding 20px
    margin-top 30px
  input
    padding-left 10px
    background-color rgba(255, 255, 255, 0.4)
    border none
    height 25px
    width 200px
    margin-top 10px
    width 550px
    margin-left 20px
  textarea
    padding-left 10px
    margin-top 10px
    margin-left 20px
    border solid 1px #343434
    font-size 12px
    width 550px
    border none
    background-color rgba(255, 255, 255, 0.4)
  .button
    font-family Arial, Helvetica, sans-serif
    font-size 12px
    background-color #fff
    color #343434
    width 60px
    padding-right 10px
    margin-top 10px
    
.login
  margin-top 100px
  margin-left auto
  margin-right auto
  width 200px
  input
    padding-left 10px
    background-color rgba(255, 255, 255, 0.6)
    border none
    height 25px
    width 200px
    margin-top 10px
    width 300px
  .button
    font-family Arial, Helvetica, sans-serif
    font-size 12px
    background-color #fff
    color #343434
    width 60px
    padding-right 10px
    margin-top 10px
    background-color rgba(255, 255, 255, 0.6)

.light
  color #666
.dark
  color #343434
.left
  float left
.right
  float right
  text-align right
.clear
  clear both
.bold
   font-weight bold	  	
.even
  width 100px
#blackhead
  width 100%
  height 3px
  background #343434
  position fixed
  display none
#header 	
  top 0px
  width 100%
  margin-bottom 25px

